{
  "plugins": [
    "prettier-plugin-angular",
    "prettier-plugin-html"
  ],
  "editor.formatOnSave": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "semi": true
}
