
<app-header></app-header>
<!-- component -->
<div class="p-8">
  <div class="bg-white p-4 rounded-lg shadow-xl py-8 mt-12">
      <h4 class="text-4xl font-bold text-gray-800 tracking-widest uppercase text-center">Frequently Asked Questions</h4>
      <p class="text-center text-gray-600 text-sm mt-2">This API specific FAQ outlines answers to common questions about the CoinMarketCap API product. For questions around CoinMarketCap's general data gathering and reporting conventions, please check out the CoinMarketCap FAQ.</p>
      <div class="space-y-12 px-2 xl:px-16 mt-12">
          <div class="mt-4 flex">
              <div>
                  <div class="flex items-center h-16 border-l-4 border-blue-600">
                      <span class="text-4xl text-blue-600 px-4">Q.</span>
                  </div>
                  <div class="flex items-center h-16 border-l-4 border-gray-400">
                      <span class="text-4xl text-gray-400 px-4">A.</span>
                  </div>
              </div>
              <div>
                  <div class="flex items-center h-16">
                      <span class="text-lg text-blue-600 font-bold">What is the CoinMarketCapital API for?</span>
                  </div>
                  <div class="flex items-center py-2">
                      <span class="text-gray-500">The CoinMarketCap API is our enterprise-grade cryptocurrency API for all crypto data use cases from personal, academic, to commercial. The API is a suite of high-performance RESTful JSON endpoints that allow application developers, data scientists, and enterprise business platforms to tap into the latest raw and derived cryptocurrency and exchange market data as well as years of historical data. This is the same data that powers coinmarketcap.com which has been opened up for your use cases.</span>

                  </div>
              </div>
          </div>

          <div class="mt-4 flex">
              <div>
                  <div class="flex items-center h-16 border-l-4 border-blue-600">
                      <span class="text-4xl text-blue-600 px-4">Q.</span>
                  </div>
                  <div class="flex items-center h-16 border-l-4 border-gray-400">
                      <span class="text-4xl text-gray-400 px-4">A.</span>
                  </div>
              </div>
              <div>
                  <div class="flex items-center h-16">
                      <span class="text-lg text-blue-600 font-bold">What is the CoinMarketCap API for?</span>
                  </div>
                  <div class="flex items-center py-2">
                      <span class="text-gray-500">The CoinMarketCap API is our enterprise-grade cryptocurrency API for all crypto data use cases from personal, academic, to commercial. The API is a suite of high-performance RESTful JSON endpoints that allow application developers, data scientists, and enterprise business platforms to tap into the latest raw and derived cryptocurrency and exchange market data as well as years of historical data. This is the same data that powers coinmarketcap.com which has been opened up for your use cases.</span>

                  </div>
              </div>
          </div>

          <div class="mt-4 flex">
              <div>
                  <div class="flex items-center h-16 border-l-4 border-blue-600">
                      <span class="text-4xl text-blue-600 px-4">Q.</span>
                  </div>
                  <div class="flex items-center h-16 border-l-4 border-gray-400">
                      <span class="text-4xl text-gray-400 px-4">A.</span>
                  </div>
              </div>
              <div>
                  <div class="flex items-center h-16">
                      <span class="text-lg text-blue-600 font-bold">What can I expect from the Developer Portal?</span>
                  </div>
                  <div class="flex items-center py-2">
                      <span class="text-gray-500">The CoinMarketCap Developer portal is the central account management portal for your API Key and optional subscription plan while using the API. Outside of viewing the API Documentation and FAQ, you can self-provision your API Key, change and upgrade your plan, manage billing, view your monthly usage, audit your API request logs, and manage account level configuration like notifications.</span>

                  </div>
              </div>
          </div>

          <div class="mt-4 flex">
              <div>
                  <div class="flex items-center h-16 border-l-4 border-blue-600">
                      <span class="text-4xl text-blue-600 px-4">Q.</span>
                  </div>
                  <div class="flex items-center h-16 border-l-4 border-gray-400">
                      <span class="text-4xl text-gray-400 px-4">A.</span>
                  </div>
              </div>
              <div>
                  <div class="flex items-center h-16">
                      <span class="text-lg text-blue-600 font-bold">Do you have a free version of the CoinMarketCap API?</span>
                  </div>
                  <div class="flex items-center py-2">
                      <span class="text-gray-500">CoinMarketCap is committed to always providing the crypto community with a robust free API through our free Basic tier. Even on free Basic our users can benefits from enterprise grade infrastructure, documentation, and flexibility. If your needs outgrow our free offering check out our commercial use and enterprise offerings.</span>

                  </div>
              </div>
          </div>

          <div class="mt-4 flex">
              <div>
                  <div class="flex items-center h-16 border-l-4 border-blue-600">
                      <span class="text-4xl text-blue-600 px-4">Q.</span>
                  </div>
                  <div class="flex items-center h-16 border-l-4 border-gray-400">
                      <span class="text-4xl text-gray-400 px-4">A.</span>
                  </div>
              </div>
              <div>
                  <div class="flex items-center h-16">
                      <span class="text-lg text-blue-600 font-bold">Similique fugiat cumque?</span>
                  </div>
                  <div class="flex items-center py-2">
                      <span class="text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dignissimos. Neque eos, dignissimos provident reiciendis debitis repudiandae commodi perferendis et itaque, similique fugiat cumque impedit iusto vitae dolorum. Nostrum, fugit!</span>

                  </div>
              </div>
          </div>

          <div class="mt-4 flex">
              <div>
                  <div class="flex items-center h-16 border-l-4 border-blue-600">
                      <span class="text-4xl text-blue-600 px-4">Q.</span>
                  </div>
                  <div class="flex items-center h-16 border-l-4 border-gray-400">
                      <span class="text-4xl text-gray-400 px-4">A.</span>
                  </div>
              </div>
              <div>
                  <div class="flex items-center h-16">
                      <span class="text-lg text-blue-600 font-bold">What cryptocurrencies and exchanges are available with the CoinMarketCap API?</span>
                  </div>
                  <div class="flex items-center py-2">
                      <span class="text-gray-500">The API surfaces all current and historical cryptocurrency and exchange data available on coinmarketcap.com since it originally went live in 2013. See the general CoinMarketCap FAQ for listing criteria and considerations.</span>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer />
